In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sklearn

In [2]:
ctu13_labeled = pd.read_csv('/home/sudip/PycharmProjects/pythonProject/ctu13_WnewLabels.csv')

In [3]:
ctu13_shuffled = sklearn.utils.shuffle(ctu13_labeled)

In [13]:
from itertools import combinations

def train_test_dict(df_splitted, n_chunks, key):
    
    """
        args : splitted dataset and number of chunks for either training or testing dataset
        returns a dictionary of train or test dataset 
        e.g.
        create new keys test chunks.
        test1 for comb_test(1, 2)   train10 for comb_train(3, 4, 5)
        test2 for comb_test(1, 3)   train9 for comb_train(2, 4, 5)
        test3 for comb_test(1, 4)   train8 for comb_train(2, 3, 5)
        test4 for comb_test(1, 5)   train7 for comb_train(2, 3, 4)
        test5 for comb_test(2, 3)   train6 for comb_train(1, 4, 5)
        test6 for comb_test(2, 4)   train5 for comb_train(1, 3, 5)
        test7 for comb_test(2, 5)   train4 for comb_train(1, 3, 4)
        test8 for comb_test(3, 4)   train3 for comb_train(1, 2, 5)
        test9 for comb_test(3, 5)   train2 for comb_train(1, 2, 4)
        test10 for comb_test(4, 5)  train1 for comb_train(1, 2, 3)
         
    """
    
    comb = list(combinations(df_splitted, n_chunks)) # itertool combination does not return a list, rather tuples. So we convert it to list 

    train_test_dict={}
    for i in range(0, len(comb)):
        z = pd.DataFrame()              # create a new dataframe
        y = comb[i]                     
        for item in y:
            z = pd.concat([z, item])    # concat items
        train_test_dict["{}{}".format(key,i+1)] = z  
        
    return train_test_dict
    

def dataset_spit(df, n_chunks, n_chunk_train, n_chunk_test):
    
    # split data
    df_splitted = np.array_split(df, n_chunks)
    
    # create train dataset dictionary
    return train_test_dict(df_splitted, n_chunk_train, 'train'), train_test_dict(df_splitted, n_chunk_test, 'test')

In [14]:
train, test = dataset_spit(ctu13_labeled, 5, 3, 2)

In [16]:
train['train1']

        Unnamed: 0             0         1         2         3         4  \
0                0  0.000000e+00  0.000000  0.000000  0.488189  0.239837
1                1  0.000000e+00  0.000000  0.000000  0.488189  0.239837
2                2  0.000000e+00  0.000000  0.000000  0.488189  0.239837
3                3  8.083334e-08  0.000000  0.000000  0.488189  0.239837
4                4  8.916667e-08  0.000000  0.000000  0.488189  0.239837
...            ...           ...       ...       ...       ...       ...
308153      308153  6.263334e-06  0.000000  0.000000  0.992126  0.239837
308154      308154  8.261692e-04  0.000826  0.000000  0.992126  0.162602
308155      308155  3.077481e-03  0.003077  0.001426  0.992126  0.162602
308156      308156  1.775972e-05  0.000000  0.000000  0.992126  0.239837
308157      308157  8.344514e-04  0.000834  0.000000  0.992126  0.239837

               5         6         7         8  ...        22        23  \
0       0.043478  0.012658  0.000000  0.000006  ...  0.055708  0.055708
1       0.043478  0.012658  0.000000  0.000006  ...  0.128611  0.128611
2       0.043478  0.012658  0.000000  0.000006  ...  0.077717  0.077717
3       0.043478  0.012658  0.000004  0.000006  ...  0.008253  0.008253
4       0.043478  0.012658  0.000004  0.000006  ...  0.008253  0.008253
...          ...       ...       ...       ...  ...       ...       ...
308153  0.043478  0.012658  0.000004  0.000006  ...  0.014443  0.014443
308154  0.043478  0.253165  0.000004  0.000011  ...  0.001376  0.001376
308155  0.043478  0.253165  0.000038  0.000034  ...  0.264787  0.000000
308156  0.043478  0.012658  0.000004  0.000006  ...  0.005502  0.005502
308157  0.043478  0.012658  0.000004  0.000011  ...  0.001376  0.001376

              24        25   26   27   28  Label  Cluster no.  new_label
0       0.051582  0.051582  1.0  0.0  0.0      0            1          1
1       0.051582  0.051582  1.0  0.0  0.0      0            1          1
2       0.051582  0.051582  1.0  0.0  0.0      0            1          1
3       0.051582  0.051582  0.0  1.0  0.0      0            0          0
4       0.079092  0.079092  0.0  1.0  0.0      0            0          0
...          ...       ...  ...  ...  ...    ...          ...        ...
308153  0.122421  0.122421  0.0  1.0  0.0      1            0          0
308154  0.196699  0.000000  1.0  0.0  0.0      1            1          1
308155  0.196699  0.000000  1.0  0.0  0.0      1            1          1
308156  0.049519  0.049519  0.0  1.0  0.0      1            0          0
308157  0.174003  0.174003  1.0  0.0  0.0      1            1          1

[308158 rows x 33 columns]

In [8]:
test['test1']

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,Label,Cluster no.,new_label
0,0,0.000000e+00,0.000000,0.000000,0.488189,0.239837,0.043478,0.012658,0.000000,0.000006,...,0.055708,0.055708,0.051582,0.051582,1.0,0.0,0.0,0,1,1
1,1,0.000000e+00,0.000000,0.000000,0.488189,0.239837,0.043478,0.012658,0.000000,0.000006,...,0.128611,0.128611,0.051582,0.051582,1.0,0.0,0.0,0,1,1
2,2,0.000000e+00,0.000000,0.000000,0.488189,0.239837,0.043478,0.012658,0.000000,0.000006,...,0.077717,0.077717,0.051582,0.051582,1.0,0.0,0.0,0,1,1
3,3,8.083334e-08,0.000000,0.000000,0.488189,0.239837,0.043478,0.012658,0.000004,0.000006,...,0.008253,0.008253,0.051582,0.051582,0.0,1.0,0.0,0,0,0
4,4,8.916667e-08,0.000000,0.000000,0.488189,0.239837,0.043478,0.012658,0.000004,0.000006,...,0.008253,0.008253,0.079092,0.079092,0.0,1.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205434,205434,6.845552e-03,0.006838,0.006838,0.488189,0.186992,0.043478,0.177215,0.000259,0.000159,...,0.647180,0.004127,0.994498,0.004127,1.0,0.0,0.0,0,2,0
205435,205435,6.781974e-03,0.006774,0.006774,0.488189,0.186992,0.043478,0.177215,0.000263,0.000136,...,0.461486,0.004127,0.994498,0.004127,1.0,0.0,0.0,0,2,0
205436,205436,6.781833e-03,0.006774,0.006774,0.488189,0.186992,0.043478,0.177215,0.000140,0.000091,...,0.462173,0.004127,0.994498,0.004127,1.0,0.0,0.0,0,2,0
205437,205437,6.781840e-03,0.006774,0.006774,0.488189,0.186992,0.043478,0.177215,0.000437,0.000204,...,0.460110,0.004127,0.994498,0.004127,1.0,0.0,0.0,0,2,0
205438,205438,6.781784e-03,0.006774,0.006774,0.488189,0.186992,0.043478,0.177215,0.000140,0.000096,...,0.458735,0.004127,0.994498,0.004127,1.0,0.0,0.0,0,2,0